atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cycler==0.11.0
exceptiongroup==1.0.0rc8
Faker==12.0.1
Flask==2.1.2
fonttools==4.33.2
gunicorn==20.1.0
hypothesis==6.47.2
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.2
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mixer==7.2.2
networkx==2.8
numpy==1.22.3
packaging==21.3
pandas==1.4.2
parse==1.19.0
Pillow==9.1.0
pluggy==1.0.0
py==1.11.0
pygame==2.1.2
pyparsing==3.0.8
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tomli==2.0.1
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
